.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
    min-width: 180px;

    .active{
        color:orange;
    }

    span{
        &:hover{
            opacity: 0.5;
        }
    }
}